{% extends "base.html" %}

{% block main %}
    
        <div class="cards0">
            {% for user in oneUser %}
            <div class="card00" id="card-side">
                <div class="pic">
                    <img class="image1" id="pic1" src="{{ url_for('get_image', filename=user.photo) }}" />
                </div>

                <div class="bodyO">
                    <div>
                        <h2>{{user.title }}</h2>
                    </div>
                
                    <div>
                        <p class="pricestyle style">{{'$' + '{:,.0f}'.format (user.price)|string }}</p>
                        <p class="pricestyle styles">{{user.types }}</p>
                    </div>
                    
                    <div id="desc">
                        <p>{{user.description }}</p>
                    </div>

                    <div id="rooms">
                        <span class="side"><img class="icon-img" src="{{url_for('get_image', filename='bed.png')}}">
                        <p>{{user.bedrooms }} Bedrooms</p></span>
                        <span class="side"><img class="icon-img" src="{{url_for('get_image', filename='shower.jpg')}}">
                        <p>{{user.bathrooms }} Bathrooms</p></span>
                    </div>
                    
                    <div id="loca">
                        <span class="side"><img class="icon-img" src="{{url_for('get_image', filename='icon.png')}}">
                        <p>{{user.location }}</p></span>
                    </div>
                    <button id="btn2">Email Realtor</button>
                </div>
            </div>
            {% endfor %}
        </div>
        
{% endblock %}